/hack/LethalHack/.vs
*.cache
*.pdb
*.Up2Date
*.vsidx
*.db
*.db-shm
*.db-wal
/AntiCheat/DLLDetect/.vs
AntiCheat/DLLDetect/Anticheat/.vs/Anticheat.csproj.dtbcache.json
/AntiCheat/DLLDetect/Anticheat/obj
